/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [_case_concept_name_],
      CASE 
		WHEN level_3_cluster_id IS NOT NULL THEN level_3_cluster_id
		WHEN level_2_cluster_id IS NOT NULL THEN level_2_cluster_id
		WHEN level_1_cluster_id IS NOT NULL THEN level_1_cluster_id
		END
		AS Cluster
		
	  
	  ,[level_1_cluster_id]
      ,[level_2_cluster_id]
      ,[level_3_cluster_id]
  FROM [stg].[case_clustering]